body{
    padding: 0px;
    margin: 0 auto;
    list-style: none;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    background: linear-gradient(189deg, #87CEFA 0%, #00BFFF 100%);
}   

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");


#app{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    min-height: 100%;
}

/* Estilização do box da esquerda */
.box-left{
    background-color:#fff;
    width: 50%;
    height: 400px;
    margin: 10px;
    border-radius:15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);}

 /* Titulo*/    
 .box-left legend{
    font-size: 50px;
    text-align: center;
    margin-top: 10px;

}  

/*---- tamanho de input de valor e nome ---- */
input#nome{
        width: 80%;
        margin-left: 10px;
}
    
input#valor{
        width: 30%;
        margin-left: 40px;
        margin-right: 20px;
}

/*  --- Posicionamento das divs de input e label --- */
.labels{
    display: flex;
    justify-content: space-around;
}
.inputs{
    display: flex;
    justify-content: space-around;
}    

/* --- Estilização de do input de valor e nome --- */
.box-left input#nome, input#valor  {
  font-weight: 400;
  font-size: 12px;
  padding: 10px 15px;
  border: 1px solid #a7a7a7;
  border-radius: 5px;
}


  
#box-right{
    background-color:#fff;
    width: 50%;
    height: 400px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}


#total-box{
    display: flex;
    justify-content:flex-end;
}
.box-total{
    background-color:#fff;
    width: 48%;
    margin-right: 10px;
    height: 45px; 
    border-radius: 15px;
}
h3{
    margin-top: 10px;
    margin-left: 5px;
}

/* Botão adicionar */
 input.btn{
    background-color: chartreuse;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 70px;
    width: 75%;
    height: 50px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background linear 0.3s;
    display: block;
}





